body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
  }
  .container {
    border: 2px solid goldenrod;
    border-radius: 20px;
    padding: 20px;
    background-color: black;
  }
  .temperature-heading {
    color: goldenrod;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .heading {
    margin-bottom: 40px;
  }
  .temperature-box {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid grey;
    width: 100px;
    color: grey;
    text-align: center;
    font-size: 1.3rem;
  }
  .degree-box {
    display: flex;
    flex-direction: column;
  }
  .degree {
    font-weight: bold;
    color: goldenrod;
    margin-bottom: 20px;
  }
  .temperature-conversion-box {
    display: flex;
    justify-content: space-between;
    gap: 90px;
  }
  .value-box {
    display: flex;
    flex-direction: column;
  }
  .value {
    font-weight: bold;
    color: goldenrod;
    margin-bottom: 20px;
  }
  option {
    color: grey;
    font-weight: bold;
    background-color: black;
  }
  #temp_diff {
    background-color: transparent;
    color: grey;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid grey;
    font-size: 1.3rem;
  }
  .submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
  }
  #submit {
    width: 200px;
    height: 40px;
    background-color: goldenrod;
    border-radius: 10px;
    font-weight: bold;
    border: none;
  }
  #resultContainer {
    color: grey;
    font-size: 1.3rem;
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-top: 30px;
  }
  #temp {
    color: grey;
    font-size: 1.3rem;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid grey;
    width: 100px;
    font-weight: bold;
    display: flex;
    text-align: center;
  }
  .watermark {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }